# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# 环境
env/
venv/
.conda/
miniconda/
miniconda3/

# 编辑器
.vscode/
.idea/

# 数据集（太大不传）
data/
data_cleaned/
openvla-7b/
models/

# 模型文件
*.bin
*.pth
*.pkl
*.h5
*.hdf5
*.safetensors

# 压缩包
*.zip

# 训练结果
runs/

# 日志
*.log
.DS_Store

# 临时文件
*.egg-info/
package_manifest.json

# 嵌入的git仓库
code/openvla/